@use "~sass-rem" as rem;
@import "variables";
@import "sets";

.header {
padding: rem.convert(20px 0);

background-color: $main-color;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    justify-content: normal;
  }
}

// Logo
.logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem.convert(250px);
  height: min-content;

  img {
    width: 100%;

    object-fit: contain;
  }
}

// Navigation
.navbar {
  height: min-content;

  &-mobile-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: rem.convert(48px);
    width: rem.convert(48px);
    padding: 10px;

    border: 1px solid $main-color;
    background-color: $main-color-light;

    @media screen and (min-width: 376px) {
      display: none;
    }

    span {
      width: 100%;
      height: 2px;

      background-color: $main-color;
    }
  }

  &-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    list-style: none;

    @media screen and (max-width: 375px) {
      display: none;
    }

    @media screen and (max-width: 800px) {
      margin-top: rem.convert(16px);
    }
  }

  &-list-item {
    position: relative;
    margin-right: rem.convert(16px);

    color: $main-color-light;

    &:last-child {
      margin-right: 0;
    }

    &.with-sublist {
      padding-right: 30px;

      background-repeat: no-repeat;
      background-size: rem.convert(16px);
      background-position: 95%;
    }

    .sublist {
      position: absolute;
      left: 0;
      z-index: 100;

      display: none;
      min-width: 100%;
      width: max-content;
      padding: rem.convert(8px);

      border-radius: rem.convert(3.2px);
      background-color: $main-color-light;
      box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.08);

      li {
        padding: rem.convert(8px 16px);

        color: $main-color;
        cursor: pointer;
      }
    }

    &:hover {
      outline-offset: 3px;
      outline-color: currentColor;
      outline-style: dashed;

      .sublist {
        display: block;

        li {
          cursor: pointer;
        }

        a {
          text-decoration: none;
          color: $main-color;
        }
      }
    }
  }

  &-link {
    @extend %button;

    border-color: $main-color-light;
    color: $main-color-light;
    
    &:visited {
      border-color: $main-color-light;
      color: $main-color-light;
    }
  }
}
}
